/*title*/

#title {
    background-color: #ffffff;
}

#title .container-fluid {
    padding: 3% 15%;
    text-align: left;
}

.logo {
    height: 40px;
    width: auto;
}

/*greetings*/

#greetings {
    background-color: #EEE3CB;
    border-radius: 20px;
    padding: 3% 10%;
    height: min-content;
}

.greetings-photo {
    height: 750px;
    width: auto;
    position: relative;
    left: 500px;
    top: 100px;
}

.greetings-text {
    font-family: "Rubik", sans-serif;
    text-align: left;
    position: relative;
    bottom: 500px;
}

.my-name {
    font-weight: 800;
    font-size: 70px;
    -webkit-text-stroke: 2px white;
}

.my-job {
    font-weight: 400;
    font-size: 25px;
}

/*contacts*/

#contacts {
    font-family: "Rubik", sans-serif;
    padding: 2% 15%;
}

#contacts .btn {
    border-radius: 10px;
}

.contact-logo {
    height: 50px;
    width: auto;
}

.cow-photo {
    height: 300px;
    width: auto;
    position: relative;
    left: 50px;
}

.contacts-text {
    font-weight: 500;
    position: relative;
    left: 500px;
    bottom: 350px;
}

.contacts-links {
    position: relative;
    left: 500px;
    bottom: 275px;
}